.item {
  display: flex;
  height: 100px;
  align-items: center;
  box-shadow: 5px 5px 15px 5px greenyellow;
  margin-bottom: 30px;
}

.status {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.true {
  composes: status;
  background-color: green;
}

.false {
  composes: status;
  background-color: red;
}
.avatar {
  margin-right: 10px;
}

.name {
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}